@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://fonts.googleapis.com/css?family=Lato')
@import url('https://fonts.googleapis.com/css?family=Raleway')
@import url('https://fonts.googleapis.com/css?family=Ubuntu')

$whiteColor: white
*
  box-sizing: border-box
body
  background-image: url(http://betweenbirdsofprey.icdif.com/wp-content/uploads/2015/10/3a2e93a9c9af9cbc0e0f20f56f2502d7_large.jpeg)
  background-size: cover
  margin: 0
  text-decoration: none


header
  height: 50px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1)

  ul
    padding: 0 100px 0 40px; 
  
  nav ul li
    display: inline
    padding-left: 60px
    line-height: 50px
    font-family: 'Roboto', sans-serif
    font-weight: 900
    font-style: italic 
    a
      text-decoration: none
      padding: 15px
      color: $whiteColor

      &:visited
        color: $whiteColor
      &:hover
        color: $whiteColor
        background-color: red
        border-radius: 10px
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1)

@media (min-width: 481px) and (max-width:768px) 
            body 
                background-color: green;
            

#MainDiv
  margin-top: 60px
  margin-left: 15%
  margin-right: 15%
  width: 68%
  background-color: rbga(255, 255, 255, 0.75)
  float: left
  height: auto  
  article
    margin: 3%
    height: 1000
    max-width: 100%
    article
      margin: 5%
      height: 140px 
      max-width: 100%
      box-sizing: border-box
      
      
      div
        float: left
        width: 50%
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1)
        border: black solid 3px

@media screen and (max-width: 300px) 
  #MainDiv
  float: none



.BodyImage
  background-color: black
  height: 170px
  box-sizing: border-box
  background-size: cover

#Avengers
  background-image: url(Pictures/Avengers.jpg)
#Horse
  background-image: url(Pictures/Horse.jpg)
#Dawgs
  background-image: url(Pictures/Dawgs.jpg)
#Chaos
  background-image: url(Pictures/Chaos.jpg)
#Sonya
  background-image: url(Pictures/Sonya.jpg)
#IncredibleFamily
  background-image: url(Pictures/Incredible.jpg)
#Player
  background-image: url(Pictures/Player.jpg)
#InfinityWars
  background-image: url(Pictures/InfinityWars.jpg)

.BodyText
  padding-left: 15px
  padding-right: 5px
  font-size: 25px
  font-family: Raleway
  background-color: rbga(255, 255, 255, 0.75)
  color: whitesmoke
  height: 170px
  font-style: italic
  padding-top: 10px
  box-sizing: border-box
  &:hover
    background-color: #4BC7CF

#MainDivHeader
  width: 100%
  height: 50px
  background-color: rbga(255, 255, 255, 0.75)
  text-align: center
  line-height: 50px
  font-size: 30px
  font-weight: 500
  font-family: 'Lato', sans-serif
  color: whitesmoke
  font-style: italic
  text-decoration: underline

#dropdown
  position: relative
  display: inline-block
  line-height: 50px
  font-family: 'Roboto', sans-serif
  font-weight: 700
  font-style: italic
  color: $whiteColor 
  float: right
  &:hover
    color: $whiteColor
    background-color: red
    border-radius: 10px
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1)
    padding-left: 3px
    padding-right: 15px

.right
  float: right

#dropdown-content
  display: none
  position: absolute
  text-align: left
  z-index: 1

  a
    text-decoration: none
    color: $whiteColor
    &:hover
      background-color: red
      border-radius: 10px
      padding: 10px
      color: $whiteColor
    
  li
      color: black
      text-decoration: none
      display: block
      text-align: left
      
#dropdown:hover #dropdown-content
  display: block
  text-align: left
  background-color: rbga(255, 255, 255, 0.75)
  width: 100px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1)
  padding-left: 10px

#dropdown-content li
  color: black
  text-decoration: none
  display: block
  text-align: left

footer
  background-color: #000000
  float: left
  height: auto
  width: 100%
  margin-top: 40px
  article
    color: #3F26BF
    line-height: 50px
    padding-left: 50px
    font-weight: 700
    font-family: Ubuntu
    font-size: 20px
    text-align: center


  li
    display: inline
    margin: 30px
    margin-left: 0
  a
    text-decoration: none  
    color: #FF007C
    margin: 30px
    padding: 5px
    font-family: Ubuntu
    &:hover
      background-color: white
      border-radius: 10px
      color: black

.mySlides
  display: none

.slideshow-container
  max-width: 1000px
  max-height: 300px
  position: relative
  margin: auto
  margin-top: 40px

.prev,.next
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  padding: 16px
  margin-top: -22px
  color: white
  font-weight: bold
  font-size: 18px
  transition: 0.6s ease
  border-radius: 0 3px 3px 0

.next
  right: 0
  border-radius: 3px 0 0 3px


.prev:hover, .next:hover
  background-color: rgba(0,0,0,0.8);


.numbertext
  color: white
  font-size: 12px
  padding: 8px 12px
  position: absolute
  top: 0%

.dot
  cursor: pointer
  height: 15px
  width: 15px
  margin: 0 2px
  background-color: #bbbbbb
  border-radius: 50%
  display: inline-block
  transition: background-color 0.6s ease


.fade
  -webkit-animation-name: fade
  -webkit-animation-duration: 1.5s
  animation-name: fade
  animation-duration: 1.5s


@-webkit-keyframes fade 
  from {opacity: .4} 
  to {opacity: 1}


@keyframes fade 
  from {opacity: .4} 
  to {opacity: 1}

.text
  color: white
  font-size: 15px
  padding: 8px 12px
  position: absolute
  bottom: 8px
  width: 100%
  text-align: center
  font-family: Roboto

.numbertext 
  color: white
  font-size: 12px
  padding: 8px 12px
  position: absolute
  top: 0
  font-family: Roboto

@media screen and (max-width: 1010px)
  header
    nav
      ul
        font-size: 10pt
        li
          padding: 0
  footer
    article
      font-size: 9pt
      padding: 0
      ul
        padding: 0 
        font-size: 10pt
        a
          margin: 0
          display: block
  #maindivheader
    font-size: 18pt
  article
    .BodyText
      font-size: 10pt
    
@media screen and (max-width: 550px)
  header
    nav
      ul
        text-align: center
        padding: 0 10px 0 10px
        .right
          display: none
<<<<<<< HEAD:src/sass/style.sass
          


=======
           
  #dropdown
    display: none 
  
  #MainDivHeader
    font-size: 15px
>>>>>>> beb1bc1ba041c0d43020e67cf69a49fb84a56ebd:NewsPortal/sass/style.sass
